{%extends 'base.html'%}
{% block content%}

<div class="jumbotron mt-4 text-center">
    <h1 class="display-4 shadow-lg ">#{{object.id}} {{ object.title }}</h1>
    <small class="text-muted">Date Submited: {{object.date_created|date:"F d, Y" }}</small>
    <hr class="my-1">
    <div class="card-header">
    </div>
    <p class="card shadow-lg p-3 text-center"> <strong>
        Ticket description:
    </strong> <br>
        {{object.description}}.</p>
    <div class="row">
        <div class="col-6">
            <p class="lead">
                Reported by:<a aria-pressed="true" class="btn  btn-lg active badge-secondary"
                               href="{% url 'userticket' ticket.created_by %}"
                               role="button">{{object.created_by}}</a>
            </p>
        </div>
        <div class="col-6">
            <p class="lead">
                Assigned to:<a aria-pressed="true" class="btn  btn-lg active badge-info"
                               href="{% url 'userticket' ticket.created_by %}"
                               role="button">{{object.user_assigned}}</a>
            </p>
        </div>
    </div>
    {% if object.user_completed%}
    <p class="lead ">
        Completed by:
        <a aria-pressed="true" class="btn  btn-lg active badge-success"
           href="{% url 'userticket' ticket.user_completed %}"
           role="button">{{ object.user_completed }}</a>
    </p>
    {%endif%}

    {%if object.status == 'NEW' %}
    <p class="lead">
        TICKET STATUS: <span class="badge badge-secondary">New</span>
    </p>
    {%endif%}
    {%if object.status == 'IN PROGRESS' %}
    <p class="lead">
        TICKET STATUS: <span class="badge badge-warning">IN PROGRESSS</span>
    </p>
    {%endif%}
    {%if object.status == 'DONE' %}
    <p class="lead ">
        TICKET STATUS: <span class="badge  badge-success text-white">DONE</span>
    </p>
    {%endif%}
    {%if object.status == 'INVALID' %}
    <p class="lead ">
        TICKET STATUS: <span class="badge badge-danger ">INVALID</span>
    </p>
    {%endif%}
    <br>

    <hr>
    <hr>

    <div class="row">


        {%if object.status == "NEW" %}
        <div class="col">
            <p class="lead  ">
                <a class="btn bg-secondary btn-lg text-white" href="{%url 'ticketupdate' object.id%}" role="button">
                    <i class="fas fa-edit ">Edit</i>
                    </a>
            </p>
        </div>
        <div class="col-3">
            <p class="lead">
                <a class="btn btn-primary btn-lg text-white" href="{% url 'assigntome' object.id %}" role="button">Assign to
                    you</a>
            </p>
        </div>
        <div class="col-3">
            <p class="lead ">
                <a class="btn bg-danger btn-lg text-white" href="{% url 'invalidticket' object.id %}" role="button">Mark
                    Invalid</a>
            </p>
        </div>
        {% endif%}

        {%if object.status == "IN PROGRESS" %}
        <div class="col">
            <p class="lead">
                <a class="btn bg-secondary btn-lg text-white" href="{%url 'ticketupdate' object.id%}" role="button">Edit
                </a>
            </p>
        </div>
        <div class="col">
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'completedticket' object.id %}"
                   role="button">Complete</a>
            </p>
        </div>
        <div class="col-3">

            <p class="lead">
                <a class="btn btn-dark btn-lg" href="{% url 'returnticket' object.id %}" role="button">Return</a>
            </p>
        </div>
        <div class="col-3">
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="{% url 'invalidticket' object.id %}" role="button">Mark
                    Invalid</a>
            </p>
        </div>
        {% endif%}
        {%if object.status == "DONE" %}
        <div class="col">
            <p class="lead">
                <a class="btn btn-info btn-lg" href="{% url 'returnticket' object.id %}" role="button">REOPEN</a>
            </p>
        </div>
        {% endif %}
        {%if object.status == "INVALID" %}
        <div class="col">
            <p class="lead">
                <a class="btn btn-info btn-lg" href="{% url 'returnticket' object.id %}" role="button">REOPEN</a>
            </p>
        </div>
        {% endif %}
    </div>
     <hr>
    <hr>
    <div class="row">
        <div class="col ">
            <a href="/" class="btn btn-lg active text-white " role="button" aria-pressed="true"
               style="background:#015c0c;" >GO HOME</a>

        </div>
    </div>

</div>
{%endblock content%}
