
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap");

html, body{
  font-family: "IBM Plex Mono", monospace !important;
    background: #5f2929;
}
a{
text-decoration: none !important;
color: black;
}
a:hover {
    color: #d47d08 !important;
}

main{
    margin-top: 20px
}
nav{
height: 90px
}
.status-count{
    width: 100px;
    height: 100px;
    line-height: 5;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}